.nav-item a{
    color: #fff;
  }
  .fa-twitter, .fa-facebook{
    border-radius: 25px;
    margin: 0 4px;
    padding: 10px 5px;
    color: white;
  }
  .navbar-toggler-icon{
    color: aliceblue;
  }
  .navbar{
    background-color: #0B0C10;
    color: white;
    
  }
  .navbar-brand.brand{
    color: white;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Arbutus", 'serif';
  }
  .logo-inner{
    color: #eb1c1c;
  }
  
  .right-side {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .inner-li {
    float: right;
    display: flex;
  }
  .inner-li a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
  }
  .fa-bars{
    color: aliceblue;
  }
  .left-side li a{
      color: white;
      font-size: 16px;
      padding: 7px 13px;
  }
  .left-side li a:hover, .fa-twitter:hover, .fa-facebook:hover,.nav-item a:hover,a:hover{
    color: #66FCF1;
    
  }
  
  @media only screen and (max-width: 950px) {
    .nav-divs{
        display: flex;
        width: 100%;
    } 
    
  }
  @media only screen and (min-width: 600px) {
    .nav-divs{
        display: flex;
        width: 100%;
    }

    @media only screen and (min-width: 500px) {
      .nav-divs{
          display: flex;
          width: 100%;
      }
  }
  @media only screen and (min-width: 300px) {
    .nav-divs{
        display: flex;
        width: 100%;
    }
}

  
  }